[data-theme='light'] {
  --lz-background: 0.99 0 0;
  --lz-foreground: 0.97 0 0;

  --lz-text-foreground: 0.55 0.02 255.58;
  --lz-text-primary: 0.3092 0 0;
  --lz-link: 0.4972 0.1914 263.21;

  --lz-dividing: theme(colors.zinc.200);
}

[data-theme='dark'] {
  --lz-background: 0.19 0.0025 145.48;
  --lz-foreground: 0.205 0.0025 200.48;

  --lz-text-foreground: 0.62 0.02 255.58;
  --lz-text-primary: 0.9 0.0043 197.08;
  --lz-link: 0.7633 0.1267 248.88;

  --lz-dividing: theme(colors.zinc.800);
}
