@tailwind base;
@tailwind components;
@tailwind utilities;

.header-ul {
  @apply flex flex-row justify-end gap-4 text-sm text-navbarLight;
  @apply mt-6;
  @apply dark:text-navbarDark;
}

.header-li {
  @apply opacity-80;
  @apply transition duration-100 ease-in;
}

.header-li-unActive {
  @apply underline underline-offset-1;
  @apply hover:text-black hover:opacity-90;
  @apply dark:hover:text-white dark:hover:opacity-90;
}

.header-mask {
  @apply fixed top-0 left-0 w-full h-16 bg-gradient-to-b;
  @apply from-gray-50 to-transparent dark:from-bgDark dark:to-transparent;
  @apply transition-all duration-300 ease-out;
}

.footer-left {
  @apply underline underline-offset-1 opacity-80 dark:opacity-80;
  @apply transition duration-100 ease-in;
  @apply hover:text-black hover:opacity-90;
  @apply dark:hover:text-white dark:hover:opacity-90;
}

.footer-right {
  @apply opacity-80 underline underline-offset-1 cursor-pointer;
  @apply transition duration-100 ease-in;
  @apply hover:text-black hover:opacity-90;
  @apply dark:hover:text-white dark:hover:opacity-90;
}

.footer-a {
  @apply text-navbarLight dark:text-navbarDark;
  @apply underline decoration-1 underline-offset-2 cursor-pointer;
  @apply transition duration-100 ease-in;
  @apply hover:text-black dark:hover:text-white;
}

.projects-li {
  @apply flex md:flex-row max-md:flex-col justify-between;
  @apply py-2 antialiased cursor-pointer no-underline;
  @apply transition duration-100 ease-in;
}

.posts-li {
  @apply flex justify-between gap-12;
  @apply py-1 antialiased cursor-pointer no-underline;
  @apply transition duration-100 ease-in;
}

.posts-name {
  @apply flex-grow; /* name occupies all available space, pushing the date to the right */
}

.posts-date {
  @apply whitespace-nowrap; /* Prevent date wrapping. */
}

.cd-container {
  @apply cursor-pointer;
  @apply text-navbarLight dark:text-navbarDark opacity-80 dark:opacity-80;
  @apply transition duration-100 ease-in;
  @apply hover:text-black hover:opacity-90;
  @apply dark:hover:text-white dark:hover:opacity-90;
}

.back-span {
  @apply decoration-1 opacity-90 dark:opacity-90;
  @apply cursor-pointer underline underline-offset-2;
  @apply transition duration-100 ease-in;
  @apply hover:text-black hover:opacity-100 dark:hover:text-white dark:hover:opacity-100;
}

.custom-typography {
  /* blockquote */
  @apply prose-blockquote:not-italic prose-blockquote:font-light;
  @apply prose-blockquote:text-navbarLight dark:prose-blockquote:text-navbarDark;
  @apply prose-blockquote:opacity-90 dark:prose-blockquote:opacity-90;
  /* strong */
  @apply prose-strong:opacity-90;
}

/* delete blockquote */
.custom-typography blockquote p:first-of-type::before,
.custom-typography blockquote p:last-of-type::after {
  content: '';
}


/* Customize the scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;  /* The width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;  /* the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(55, 65, 81, 0.6);  /* the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);  /* the scrollbar thumb when hover */
}

/* Polyfill */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Select Mouse */
::selection {
  background-color: rgba(226,232,240, 0.4);
}
